<div class="card">
    <div class="card-body py-0">
        <img src="../../assets/images/icon-radar.svg" class="d-block mr-auto mb-3" alt="...">
        <h5 class="card-title">El radar</h5>
        <p class="card-text">Plataformas,técnicas, herramientas, lenguajes & frameworks en tendencia.
        </p>
        <a href="#" class="btn btn-primary mb-3 next">Consultar radar</a>
        <h5 class="card-title">Probando herramientas</h5>
        <p class="card-text">Nuestro equipo de R+D de Reboot, se encuentra probando estas herramientas
            en fase beta. ¿Nos quieres ayudar a probar?</p>
        <a href="#" class="btn btn-primary mb-3 next">Alza la mano</a>
        <p class="card-text">¿Quieres proponer una herramienta?</p>
        <div class="custom-form-wrapper">
            <input type="text" class="form-control" placeholder="Ingresa tu sugerencia">
            <button type="button" class="btn btn-secondary btn-disabled">Enviar</button>
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <img src="../../assets/images/illustration-1.svg" class="d-block w-100 mr-auto mb-3" alt="...">
        <h5 class="card-title">¡Probando prototipos!</h5>
        <p class="card-text">Tenemos este AB Testing corriendo en este momento ¿Nos quieres ayudar a probar?</p>
        <a href="#" class="btn btn-primary next">Probar prototipo</a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <img src="../../assets/images/icon-book.svg" class="d-block mr-auto mb-3" alt="...">
        <h5 class="card-title">Herramientas de trabajo</h5>
        <a href="#" class="btn btn-primary next">Consultar herramientas</a>
    </div>
</div>