<div class="user-wrapper d-flex justify-content-between">
    <img src="../assets/images/icon-apps.svg" class="icon-app" alt="menu" />
    <div class="d-flex">
        <img src="../assets/images/user.png" class="user" alt="user" />
        <p>Jaime López<br><span>UX Designer</span></p>
    </div>
    <span class="icon-down"></span>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <h5 class="card-title font-avenir-heavy">Mis proyectos</h5>
        <img src="../assets/images/Bitmap.svg" class="d-block mr-auto logo-citi" alt="..." />
        <p class="card-text">Account Oppening</p>
        <div class="mt-3">
            <div class="d-flex justify-content-between">
                <p>Tu equipo</p>
                <a href="#">Ver directorio</a>
            </div>
        </div>
        <div class="mt-3 d-flex contact-wrapper">
            <div class="col-6 no-padding">
                <div class="d-flex">
                    <img src="../assets/images/icon-whatsapp.svg" alt="whatsapp" class="whatsapp" />
                    <p class="font-avenir-heavy text-bold contact">¡Mantente en contacto!</p>
                </div>
                <p class="font-avenir-medium join-group mt-3">Únete al grupo de whatsapp mediante el siguiente QR.</p>
            </div>
            <div class="col-6 no-padding">
                <img src="../assets/images/qr.svg" alt="qr" class="w-100" />
            </div>   
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title">Mis cursos</h5>
            <a href="#" >Ver todos</a>
        </div>
        <div class="d-flex cursos-wrapper">
            <img src="../assets/images/img-class-01.jpg" alt="">
            <div class="w-100 align-self-center">
                <p class="font-avenir-medium">Gestión de equipos</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="d-flex cursos-wrapper">
            <img src="../assets/images/img-class-02.jpg" alt="">
            <div class="w-100 align-self-center">
                <p class="font-avenir-medium">Scrum Agile</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="d-flex cursos-wrapper">
            <img src="../assets/images/img-class-03.jpg" alt="">
            <div class="w-100 align-self-center">
                <p class="font-avenir-medium">Scrum Agile</p>
                <p class="text-success">Completado</p>
            </div>
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <img src="../assets/images/Iconos_OKRS.svg" class="d-block mr-auto mb-3 icon-okrs" alt="..." />
        <h5 class="card-title">Mis OKRs</h5>
        <a href="#" class="btn btn-primary next">Consultar mis objetivos</a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body py-0">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Mis logros</h5>
            <a href="#" >Ver todos</a>
        </div>
        <div class="d-flex justify-content-between badge-wrapper">
            <div class="icon-badge rebooter"></div>
            <div class="icon-badge star"></div>
            <div class="icon-badge common"></div>
        </div>
    </div>
</div>