<div class="card p-3">
    <div class="d-flex mb-2">
        <div class="icon-machina"></div>
        <p class="font-avenir-black pl-2 mb-1"><b>Ayuda a nuestro equipo de
            <span class="text-machina-red">Machina</span> a captar información para IA</b>
            <br>
            <span class="font-avenir-medium">Sólo necesitamos tu INE y Comprobante de domicilio</span>
        </p>
    </div>
    <div class="" id="file-drop" draggable="true">
        <form class="my-form d-flex justify-content-center align-items-center">
            <img src="../../assets/images/icon-file.svg" alt="">
            <p class="m-0 ml-3">Arrastra y suelta tus documentos aquí o <span class="text-orange" for="fileElem">busca
                    en tu ordenador</span></p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)"
                class="d-none">
        </form>
    </div>
    <div class="d-flex justify-content-between files-support">
        <p class="font-avenir-medium">Archivos soportados: PDF, JPG, PNG</p>
        <p class="font-avenir-medium">Tamaño máximo: 10MB</p>
    </div>
</div>