{{!< default}} <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2">
            <!--lado izquierdo-->
        </div>
        <div class="col-2 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1>aquí va el header</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    aqui van los cumpleaños
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    aqui van los eventos
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <!-- lado derecho-->
        </div>
    </div>
</div>


{{pagination}}